#!/bin/bash

# Path to the configuration file
CONFIG_FILE="{{ config_directory }}/file_action_mapping.yml"

# Function to read YAML file using Python
read_yaml() {
    python -c "import yaml; import sys; print(yaml.safe_load(sys.stdin.read())$1)"
}


# Monitoring loop
inotifywait -m -e modify --format '%w%f' -q $(awk '/file_action_mappings:/,/^[^ ]/' $CONFIG_FILE | grep 'name:' | awk '{print $2}' | tr -d ':') | while read action_name; do
    ACTION=$(echo "$action_name" | read_yaml "['file_action_mappings'] | select(.name == '$action_name')")
    GIT_REPO=$(echo "$ACTION" | jq -r '.git_repo')
    PLAYBOOK_PATH=$(echo "$ACTION" | jq -r '.playbook')
    VARS_FILE=$(echo "$ACTION" | jq -r '.vars_file')

    if [ -n "$GIT_REPO" ] && [ -n "$PLAYBOOK_PATH" ]; then
        TEMP_REPO_DIR=$(mktemp -d)
        git clone $GIT_REPO $TEMP_REPO_DIR

        # Include vars file if specified
        EXTRA_VARS=""
        if [ -n "$VARS_FILE" ]; then
            EXTRA_VARS="-e @$VARS_FILE"
        fi

        ansible-playbook --connection=local $TEMP_REPO_DIR/$PLAYBOOK_PATH $EXTRA_VARS

        rm -rf $TEMP_REPO_DIR
    fi
done

