file_actions:
{% for action in file_action_mappings %}
  "{{ action.name }}":
    git_repo: "{{ action.git_repo }}"
    playbook: "{{ action.playbook }}"
    vars_file: "{{ action.vars_file | default('') }}"
{% endfor %}
