{
  "file_actions": [
    {% for action in file_action_mappings %}
    {
      "name": "{{ action.name }}",
      "git_repo": "{{ action.git_repo }}",
      "git_repo_dest": "{{ action.git_repo_dest }}",
      "playbook": "{{ action.playbook }}",
      "vars_file": "{{ action.vars_file | default('') }}",
      "vars": [
        {% for var in action.vars %}
        {
          "variable_name": "{{ var.variable_name }}",
          "value": "{{ var.value }}"
        }{% if not loop.last %},{% endif %}
        {% endfor %}
      ]
    }{% if not loop.last %},{% endif %}
    {% endfor %}
  ]
}
