# file_action_mapping.yml.j2
{% for action in file_action_mappings %}
- Name: {{ action.name }}
  Git Repo: {{ action.git_repo }}
  Playbook: {{ action.playbook }}
  Vars File: {{ action.vars_file }}
  Variables:
  {% for var in action.vars %}
    - {{ var.variable_name }}: "{{ var.value }}"
  {% endfor %}
{% endfor %}
