#!/bin/bash

# NetworkManager Dispatcher Script

INTERFACE=$1
STATUS=$2

# Define the path of your script
SCRIPT="{{ monitor_script_path }}"

# Check if the network interface is up
if [ "$STATUS" = "up" ]; then
    # Execute the monitoring script
    bash $SCRIPT
fi
